node_modules/
dist/
.pack/
coverage/
.build/
.terraform/
*.tfstate
*.tfstate.*
.env
.next/
out/
site.auto.tfvars.json
next-env.d.ts
*.tsbuildinfo
contracts/cache/
contracts/.forge-home/
contracts/broadcast/
contracts/deployments/31337.json
contracts/deployments/deploy-test.json
contracts/deployments/424242.json
contracts/deployments/424243.json
contracts/deployments/424244.json
